In [1]:
# The calculates the rate of interest
# a = p + si 
# a = p + (prt/100)
# a - p = prt/100
p = float(input('P = '))
a = float(input('A = ')) 
t = float(input('T = ')) 
r = ((a - p) * 100) / (p * t)
print(r)

P = 100
A = 54
T = 23
-2.0

In [2]:


'l' + "'" + 'argent'

"l'argent"

In [3]:
r = float(input('R = ')) 
t1 = float(input('Larger Time = ')) 
t2 = float(input('Shorter Time = ')) 
dif = float(input('Difference between interests : '))

si1 = (p*r*t1)/100
si2 = (p*r*t2)/100
# calculation of the formula
#dif = si1 - si2
#dif = (p*r*t1)/100 - (p*r*t2)/100
#dif = pr/100 (t1 - t2)
p = (dif / r * (t1 - t2)) * 100
print(p)

R = 68
Larger Time = 23
Shorter Time = 43
Difference between interests : 12
-352.9411764705883

In [4]:
# The first pair of rate and time
r1 = float(input('R1 = '))
t1 = float(input('T1 = '))

# The second pair of rate and time

r2 = float(input('R2 = '))  
t2 = float(input('T2 = ')) 
dif = float(input('Differenceb between interests '))

#si = prt/100
#diff = si1 - si2
#dif = p*r1*t1/100  - p*r2*t2/100
t1 = t1/12
t2 = t2/12

p = (dif * 100) / (r1*t1 - r2*t2)
print(p)

R1 = 32
T1 = 56
R2 = 76
T2 = 87
Differenceb between interests 49
-12.199170124481329

In [5]:
year = int(input('Enter the year : '))

if (year % 4 == 0) :
  print('It is a leap year')
else :
  print('It is not a leap year')

Enter the year : 2003
It is not a leap year