In [ ]:
# Exercise -2 : Write a programme that uses input to prompt
name =(input ("Enter your name :") )
print ("Hello", name)

Enter your name :syam
Hello syam

In [ ]:
#Exercise- 3: Write a program to prompt the user for hours and rate per hour to compute gross pay.Enter Hours: 35 Enter Rate: 2.75 Pay: 96.25
hours = float(input("Enter hours="))
rate = float (input("Enter rate="))
pay = hours * rate
print ('pay=',pay)

Enter hours=65
Enter rate=4.5
pay= 292.5

In [ ]:
#Exercise- 4: Assume that we execute the following assignment statements:
#width = 17
#height = 12.0
width = float (input ("Enter width ="))
height = float (input("Enter height"))


print ('value is :', width //2, 'and type is :',type (width //2))
print ('value is :', width /2.0, 'and type is :',type (width /2.0))
print ('value is :', height /3, 'and type is :',type (height/3))
print ('value is :', 1 + 2 * 5, 'and type is :',type ( 1 + 2 * 5))

Enter width =17
Enter height12.0
value is : 8.0 and type is : <class 'float'>
value is : 8.5 and type is : <class 'float'>
value is : 4.0 and type is : <class 'float'>
value is : 11 and type is : <class 'int'>

In [ ]:
#Exercise- 5:or a Celsius temperature, convert the temperature to Fahrenheit, and print out the Result Write a program which prompts the user f
Temperature = float (input("Enter the temperature in celcius="))
farenheit = Temperature*9/5+32
print("temperature in farenheit is",farenheit)

Enter the temperature in celcius=98
temperature in farenheit is 208.4

In [ ]:
#Exercise -6: Rewrite your pay computation to give the employee 1.5times the hourly rate for hours worked above 40 hours.
#Enter Hours: 45
#Enter Rate: 10
#Pay: 475.0

hours = float (input("Enter hours="))
rate = float (input("Enter rate"))

if hours <=40:
  pay = hours*rate
else:
  pay = ((hours-40)*(1.5*rate))+(40*rate)
  print("pay=",pay)

Enter hours=45
Enter rate10
pay= 475.0

In [ ]:
# checkout if a year is leap year or not
year = int (input('Enter the year='))
if(year%400==0):
  print (year,"is a leap year")
elif (year%4==0 and year%100!=0):
     print (year,'is a leap year')
else :
     print (year ,'is not a leap year')

Enter the year=2022
2022 is not a leap year

In [ ]:
def fred():
  print("Zap")
def jane():
  print("ABC")
jane()
fred()
jane()

ABC
Zap
ABC

In [ ]:
def computepay(Hours,rate):
  if(Hours>40):
    pay=(Hours-40)*1.5*rate+(40*rate)
  else:
    pay=Hours*rate  
  return pay

Hours = float(input("Enter Hour\n"))
rate = float(input("Enter rate\n"))
pay = computepay(Hours , rate)  
print( 'pay :',pay)

Enter Hour
45
Enter rate
10
pay : 475.0

In [ ]:
def computegrade(score):
  if(score<0.0 or score>1.0) :
    return("Score is out of range!!")
  elif(score>=0.9):
    return("A")
  elif(score>=0.8):
    return("B")
  elif(score>=0.7):
    return("C")
  elif(score>=0.6):
    return("D")      
  else:
    return("F")
try:
  score=float(input("Enter your score\n"))
  print(computegrade(score))
except Exception :
  print('Enter a number!!!!!!!!!!!!')

Enter your score
34
Score is out of range!!

In [ ]:

count=0
total=0
while True :
  value=input('Enter the number')
  if (value=='done'):
    break
  try:
    value1=float(value)
  except:
    print('Invalid input')
  total=total+value1
  count=count+1
print(total,count,total/count)

Enter the number1
Enter the numberdone
1.0 1 1.0

In [ ]:
count=0
list=[]
while True :
  element=input('Enter the number\n')
  if (element=='done'):
    break
  try:
    value1=float(element)
    list.append(value1)
    
  except:
    print('Invalid input')

  if count==0 :
    min_val=value1
    max_val=value1
  elif value1<min_val:
    min_val=value1
  elif value1>max_val:
    max_val=value1
    count=count+1
print('The list of ements are :',list)
print(min_val , max_val)

Enter the number
76
Enter the number
87
Enter the number
98
Enter the number
90
Enter the number
654
Enter the number
8765
Enter the number
1234
Enter the number
done
The list of ements are : [76.0, 87.0, 98.0, 90.0, 654.0, 8765.0, 1234.0]
1234.0 1234.0